@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

.contenedorHeader {
    background-color: #ff3b19;
    padding: 1rem 0;
}


.contenedorHeader h1 a {
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 3rem;
}

.contenedor-main {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

form {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

form input {
    outline: none;
    border: 1px solid #ff3b19;
    border-radius: 1rem;
    width: 50rem;
    padding: 1rem;
    transition: all 1s ease-in-out;
}
form > div {
    margin-right: 10px;
}

form > div select {
    outline: none;
    border: 1px solid #ff3b19;
    background-color: #FFFFFF;
    border-radius: 5px;
}


form button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
}

form button img {
    background-color: #ff3b19;
    border-radius: 50%;
    padding: .2rem;
}

.contenedorPais {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    background-color: rgba(0, 0, 0, .3);
}

.pais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.hola {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 5px;
    overflow-y: scroll;
}

.hola .cierreBanner {
    display: flex;
    justify-content: right;
    font-size: 20px;
    font-weight: bolder;
    width: 100%;
}

.hola .cierreBanner p {
    cursor: pointer;
}


.pais img {
    width: 250px;
    height:200px;
}

.pais figure {
    display: flex;
    justify-content: center;
}

.contenedorFooter {
    background-color: #ff3b19;
    color: #FFFFFF;
    font-size: 1.6rem;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
}